* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    padding: 20px;
    gap: 20px;
    height: 100vh;
}
.bioName {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
color:white;
gap: 10px;
border: 10vh;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: bisque;
    border-radius: 10PX;
}
.qoutable {
    display: flex;
    padding: 20%;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}
.image {
    width: 50%;
    display: flex;
    align-items: baseline;
}
.image img {
    width: 100%;
}
.qoutable{
    font-size: 15px;
    padding: 20px;
}
.biography {
    display: flex;
    color: white;
    width: 40%;
    gap: 30px;   
    flex-direction: column;
}
.biography h1 {
    font-size: 45px;
}
.biography p {
    font-size: 18px;
    text-align: justify;
}